 {{> title header='Завдання 1' description='Розверніть елемент .task1 на 270 градусів при наведенні ,тривалість трансформації 1 секунда з прискоренням переходу'}} 

<div class="wrapper">
  <img src="img/task1.gif"/>
  <div class="container">
    <div class='task1 task'>
    </div>
  </div>
</div> 

{{> title header='Завдання 2' description='Розверніть елемент .task2 на 135 градусів навколо його горизонтальної осі при наведенні ,тривалість трансформації 1 секунда з лійнійним переходом'}} 
<div class="wrapper">
  <img src="img/task2.gif"/>
  <div class="container">
    <div class='task2 task'>

    </div>
  </div>
</div> 

 {{> title header='Завдання 3' description='Розверніть елемент .task3 на 45 градусів навколо його вертикальної осі при наведенні ,тривалість трансформації 1 секунда з прискорення на початку і сповільненням в кінці'}} 
<div class="wrapper">
  <img src="img/task3.gif"/>
  <div class="container">
    <div class='task3 task'>

    </div>
  </div>
</div>

 {{> title header='Завдання 4' description='Збільшіть маштаб елемента .task4 в 1.3 рази при наведенні ,тривалість трансформації 1 секунда з лійнійним переходом'}} 
<div class="wrapper">
  <img src="img/task4.gif"/>
  <div class="container">
    <div class='task4 task'>

    </div>
  </div>
</div>

 {{> title header='Завдання 5' description='Збільшіть маштаб елемента .task5 в 1.5 рази в горизонтальному напрямку при наведенні ,тривалість трансформації 1 секунда зі сповільненням переходу'}} 
<div class="wrapper">
  <img src="img/task5.gif"/>
  <div class="container">
    <div class='task5 task'>

    </div>
  </div>
</div>

 {{> title header='Завдання 6' description='Зменшіть маштаб елемента .task6 в 2 рази в вертикальному напрямку при наведенні ,тривалість трансформації 1 секунда з прискоренням переходу'}} 
<div class="wrapper">
  <img src="img/task6.gif"/>
  <div class="container">
    <div class='task6 task'>

    </div>
  </div>
</div>

 {{> title header='Завдання 7' description='Задайте кут нахилу елемента .task8 30 градусів при наведенні ,тривалість трансформації 1 секунда зі сповільненням переходу'}} 
<div class="wrapper">
  <img src="img/task7.gif"/>
  <div class="container">
    <div class='task7 task'>

    </div>
  </div>
</div>

 {{> title header='Завдання 8' description='Задайте кут нахилу елемента .task9 по горизонталі 25 градусів при наведенні ,тривалість трансформації 1 секунда з прискорення на початку і сповільненням в кінці'}} 
<div class="wrapper">
  <img src="img/task8.gif"/>
  <div class="container">
    <div class='task8 task'>

    </div>
  </div>
</div>

 {{> title header='Завдання 9' description='Задайте кут нахилу елемента .task10 по вертикалі 20 градусів при наведенні ,тривалість трансформації 1 секунда з прискоренням переходу '}} 
<div class="wrapper">
  <img src="img/task9.gif"/>
  <div class="container">
    <div class='task9 task'>

    </div>
  </div>
</div>

 {{> title header='Завдання 10' description='Зсуньте елемент .task11 по вертикалі на 40px та по горизонталі на 60px  при наведенні ,тривалість трансформації 1 секунда з прискоренням переходу'}} 
<div class="wrapper">
  <img src="img/task10.gif"/>
  <div class="container">
    <div class='task10 task'>

    </div>
  </div>
</div>

 {{> title header='Завдання 11' description='Зсуньте елемент .task12 по горизонталі на 50px  при наведенні ,тривалість трансформації 1 секунда зі сповільненням переходу'}} 
<div class="wrapper">
  <img src="img/task11.gif"/>
  <div class="container ">
    <div class='task11 task'>

    </div>
  </div>
</div>

 {{> title header='Завдання 12' description='Зсуньте елемент .task12 по вертикалі на 30px при наведенні ,тривалість трансформації 1 секунда з лінійним переходом'}} 
<div class="wrapper">
  <img src="img/task12.gif"/>
  <div class="container  ">
    <div class='task12 task'>
    </div>
  </div>
</div>

 {{> title header='Завдання 13' description='Зсуньте елемент .task13 по всім осям на 20px та повернить на 90 градусів за вектором 2, 2, 2 в 3D просторі при наведенні ,тривалість трансформації 1 секунда з прискоренням переходу на початку та сповільненням в кінці'}} 
<div class="wrapper">
  <img src="img/task13.gif"/>
  <div class="container ">
    <div class='task13 task'>

    </div>
  </div>
</div>

 {{> title header='Завдання 14' description='Зсуньте елемент .task14 по всім осям на 30px та повернить на 45 градусів за вектором 2, 3, 3 в 3D просторі при наведенні ,тривалість трансформації 1 секунда з прискоренням переходу'}} 
<div class="wrapper">
  <img src="img/task14.gif"/>
  <div class="container ">
    <div class='task14 task'>

    </div>
  </div>
</div>

 {{> title header='Завдання 15' description='Застосуйте матрицю з маштабуванням 0.4, кутами нахилу 1.1 та зсувом 1 для елемента .task15 при наведенні, тривалість трансформації зі сповільненням переходу'}} 
<div class="wrapper">
  <img src="img/task15.gif"/>
  <div class="container ">
    <div class='task15 task'>

    </div>
  </div>
</div>

 {{>  title header='Завдання 16' description='Застосуйте матрицю 4х4 з коментаря нижче для елемента .task16 при наведенні, тривалість трансформації з лінійним переходом'}} 
{{!-- 0.5,        0,      -0.866025, 0,  0.595877,   1.2,    -1.03209,  0,  0.866025,   0,       0.5,      0, 25.9808,     0,      15,        1 --}}
<div class="wrapper">
  <img src="img/task16.gif"/>
  <div class="container ">
    <div class='task16 task'>

    </div>
  </div>
</div>
