.task1 {
}

.task1:hover {
}

.task2 {
}

.task2:hover {
}

.task3 {
}

.task3:hover {
}

.task4 {
}

.task4:hover {
}

.task5 {
}

.task5:hover {
}

.task6 {
}

.task6:hover {
}

.task7 {
}

.task7:hover {
}

.task8 {
}

.task8:hover {
}

.task9 {
}

.task9:hover {
}

.task10 {
}

.task10:hover {
}

.task11 {
}

.task11:hover {
}

.task12 {
}

.task12:hover {
}

.task13 {
}

.task13:hover {
}

.task14 {
}

.task14:hover {
}

.task15 {
}

.task15:hover {
}

.task16 {
}

.task16:hover {
}
